<ul>
	<% @questions.each do |question| %>
		<li>
			<%= question.body %>

			<ul>
				<% question.comments.each do |comment|%>
					<li> <%= comment.user.last_name + ':' + comment.body %></li>
				<% end %>
			</ul>
			<%= form_for :pc, url: post_comment_path, remote: true do |c| %>
				<%= c.text_field :body, placeholder: "Enter the answer" %>
				<%= c.hidden_field :question_id, :value => question.id %>
				<%= c.submit "Post comment" %>
			<% end %>
		</li>
	<% end %>
</ul>