<head>
        <%= stylesheet_link_tag 'home.css' %>
        </head>
<div id="loginheader">
    <div id="loginpagecontainer" align="center">
        <div id="smallerlogincontainer">
           <div class="heading">
            <%= form_for @user, remote: true do |f| %>
	           <div>
                <%= f.label :username %>
                <%= f.text_field :username,class: 'sometextbox' %>
                </div> <br>
          		<div>
                <%= f.label :password %>
                <%= f.password_field :password,class: 'sometextbox'%>
            	</div><br>
              	<div>	
                <%= f.label :password_confirmation, "Confirm PW" %>
                <%= f.password_field :password_confirmation, minlength: 3,class: 'sometextbox' %>
               </div> <br>
               <div>
                <%= f.label :first_name %>
                <%= f.text_field :first_name ,class: 'sometextbox'%>
                </div><br>
                <div>
                <%= f.label :last_name %>
                <%= f.text_field :last_name,class: 'sometextbox' %>
                </div><br>
                <div>
            	<%= f.submit "Sign up" , class:'somebutton'%>
                </div>
            <% end %>
            <div>
            <br>
            <%= link_to "Cancel", login_path %>
            </div>
        </div>
    </div>
</div>